{% load static %}

<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% comment %} {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %} {% endcomment %}
        {% comment %} box icons {% endcomment %}
        <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
        <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
    </head>
    <body>
     <header class="header sticky">
      <a href="#" class="logo">Amanda.<span class="animate" style="--i:1;"></span></a>
      <div class='bx bx-menu' id='menu-icon'><span class="animate" style="--i:2;"></span></div>
        <nav class="navbar">
          <a href="#home" class="active">Home</a>
          <a href="#about">About</a>
          <a href="#education">Education</a>
          <a href="#skills">Skills</a>
          <a href="#contact">Contact</a>
          <span class="active-nav"></span>
          <span class="animate" style="--i:2;"></span>
        </nav>
     </header>
     <section class="home show-animate" id="home">
        <div class="home-content">
            <h1>Hi, I'm <span>Amanda Gifford</span><span class="animate" style="--i:2;"></span></h1>
            <div class="text-animate">
                <h3>Fullstack Developer</h3>
                <span class="animate" style="--i:3;"></span>
            </div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Eum beatae odio autem molestias cum ab minima dolor earum
                ipsam omnis suscipit, magnam sunt molestiae deleniti enim
                dolorem cumque itaque? Quas?
                <span class="animate" style="--i:4;"></span>
            </p>
            <div class="btn-box">
                <a href="#" class="btn">Hire me</a>
                <a href="#" class="btn">Let's talk</a>
                <span class="animate" style="--i:5;"></span>
            </div>
        </div>
        <div class="home-sci">
            <a href="#"><i class='bx bxl-facebook'></i></a>
            <a href="#"><i class='bx bxl-twitter' ></i></a>
            <a href="#"><i class='bx bxl-linkedin' ></i></a>
            <span class="animate" style="--i:6;"></span>
        </div>
        <div class="home-imgHover"></div>
        <span class="animate home-img" style="--i:7;"></span>
     </section>
     {% comment %} home section design {% endcomment %}
     <section class="about" id="about">
        <h2 class="heading">About <span>Me</span>
        </h2>
        <div class="about-img">
            <img src="../static/css/images/profile.jpg" alt="">
            <span class="circle-spin"></span>

        </div>

            <div class="about-content">
                <h3>Fullstack Developer!</h3>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing
                    elit. Provident, voluptate non nam, sapiente, ad nisi
                    est aspernatur eos dolorum ipsum minima explicabo quos
                    eveniet. Illum quam non voluptatem omnis distinctio.

                </p>

                <div class="btn-box btns">
                    <a href="#" class="btn">Read More</a>

                </div>
        </div>
     </section>
     <section class="education" id="education">
        <h2 class="heading">My
            <span>Journey</span>
        </h2>
        <div class="education-row">
            <div class="education-column">
                <h3 class="title">Education</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>Jul 2011 - May 2012</div>
                            <h3>Student of UC Santa Barbara</h3>
                            <p>Applicable Courses: Calculus 2, Statistics</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>Feb 2017 - Jul 2017</div>
                            <h3>Student of 42 Silicon Valley</h3>
                            <p>At this instition, I learned C, which was a hard (but fun!) first language. I will always be grateful to 42 for helping me to realize my fondness of coding and mark the beginning of my journey to become a software engineer.</p>
                        </div>
                    </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>Mar 2023 - Aug 2023</div>
                            <h3>Student of Hack Reactor Bootcamp</h3>
                            <p>Hack Reactor is one of the most challenging and rewarding experiences I have ever found in education and I am excited to graduate so I can go put these skills to good use!</p>
                        </div>
                    </div>


                </div>
            </div>
            <div class="education-column">
                <h3 class="title">Experience</h3>
                <div class="education-box">
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>May 2021 - June 2022</div>
                            <h3>Customer Success Manager</h3>
                            <p>
                            I collaborated with 50+ clients, understanding their needs and developing tailored solutions for their business objectives, allst while fostering strong glient relationships and delivering software implementation process from installation to consumer launch.

                            </p>
                            </div>
                        </div>
                    <div class="education-content">
                        <div class="content">
                            <div class="year"><i class='bx bxs-calendar'></i>May 2018 - December 2019</div>
                            <h3>Catering Lead</h3>
                            <p>
                            I have helped successfully lead a multitude of catering events, coordinating logistics between the front of house and back of house staff, as well as acting as the lead-point person for engaging with the event planner and/or event host.
                            </p>
                            </div>
                        </div>


            </div>
        </div>
        </div>
     </section>
     <section class="skills" id="skills">
        <h2 class="heading">My
            <span>Skills</span>
        </h2>
        <div class="skills-row">
            <div class="skills-column">
                <h3 class="title">Coding Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>HTML <span>90%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>CSS <span>80%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>JavaScript <span>65%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>Python <span>75%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="skills-column">
                <h3 class="title">Professional Skills</h3>
                <div class="skills-box">
                    <div class="skills-content">
                        <div class="progress">
                            <h3>Web Design <span>95%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>Web Development <span>67%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>Graphic Design <span>85%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                        <div class="progress">
                            <h3>SEO Marketing <span>60%</span></h3>
                            <div class="bar"><span></span></div>
                        </div>
                    </div>


                </div>
            </div>
        </div>
     </section>
     {% comment %} contact section design {% endcomment %}
     <section class="contact" id="contact">
        <h2 class="heading">Contact <span>Me!</span></h2>

        <form action="#">
            <div class="input-box">
                <div class="input-field">
                    <input type="text" placeholder="Full Name" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Email Address" required>
                    <span class="focus"></span>
                </div>

                {% comment %} <span class="animate scroll" style="--i:3;"></span> {% endcomment %}
            </div>

            <div class="input-box">
                <div class="input-field">
                    <input type="number" placeholder="Mobile Number" required>
                    <span class="focus"></span>
                </div>
                <div class="input-field">
                    <input type="text" placeholder="Email Subject" required>
                    <span class="focus"></span>
                </div>

                {% comment %} <span class="animate scroll" style="--i:5;"></span> {% endcomment %}
            </div>

            <div class="textarea-field">
                <textarea name="" id="" cols="30" rows="10" placeholder="Your Message" required></textarea>
                <span class="focus"></span>

                {% comment %} <span class="animate scroll" style="--i:7;"></span> {% endcomment %}
            </div>
            <div class="btn-box btns">
                <button type="submit" class="btn">Submit</button>

                {% comment %} <span class="animate scroll" style="--i:9;"></span> {% endcomment %}
            </div>
        </form>
     </section>
     {% comment %} footer design {% endcomment %}
     <footer class="footer">
        <div class="footer-text">
            <p>Copyright &copy; 2023 by Amanda Gifford | All Rights Reserved.</p>

            <span class="animate scroll" style="--i:1;"></span>
        </div>

        <div class="footer-iconTop">
            <a href="#"><i class='bx bx-up-arrow-alt'></i></a>

            <span class="animate scroll" style="--i:3;"></span>
        </div>
     </footer>
        {% block content %}
        {% endblock content %}
        <script src="{% static 'js/script.js' %}"></script>
    </body>
</html>
